a
{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    text-align: end;
}
body
{
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(125deg, #aaa, #333);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}
main
{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    height: 500px;
}
.up
{
    display: flex;
    position: absolute;
}
.up *:hover
{
    background-color: rgb(100, 100, 100);
}
.down
{
    display: flex;
}
.down *:hover
{
    background-color: rgb(200, 200, 200);
}
.a
{
    border-radius: 5px;
    border: 2px solid #333;
    width: 100px;
    height: 300px;
    background-color: white;
}
.b1
{
    color: white;
    border-radius: 5px;
    border: 2px solid #333;
    width: 80px;
    height: 200px;
    background-color: rgb(29, 29, 29);
    margin-left: 60px;
}
.b2
{
    color: white;
    border-radius: 5px;
    border: 2px solid #333;
    width: 80px;
    height: 200px;
    background-color: rgb(29, 29, 29);
    margin-left: 20px;
}
.b3
{
    color: white;
    border-radius: 5px;
    border: 2px solid #333;
    width: 80px;
    height: 200px;
    background-color: rgb(29, 29, 29);
    margin-left: 120px;
}
.b4
{
    color: white;
    border-radius: 5px;
    border: 2px solid #333;
    width: 80px;
    height: 200px;
    background-color: rgb(29, 29, 29);
    margin-left: 120px;
}
.b5
{
    color: white;
    border-radius: 5px;
    border: 2px solid #333;
    width: 80px;
    height: 200px;
    background-color: rgb(29, 29, 29);
    margin-left: 20px;
}
.b6
{
    color: white;
    border-radius: 5px;
    border: 2px solid #333;
    width: 80px;
    height: 200px;
    background-color: rgb(29, 29, 29);
    margin-left: 20px;
}
.b7
{
    color: white;
    border-radius: 5px;
    border: 2px solid #333;
    width: 80px;
    height: 200px;
    background-color: rgb(29, 29, 29);
    margin-left: 60px;
}

